<style>

  .section-{{ section.id }} {
    padding: 50px 0;
    background: url("{{ section.settings.banner_image | img_url: 'master' }}") no-repeat;
    background-size: cover;
  }
  
  @media screen and (max-width: 767px) {
    .section-{{ section.id }} { /*padding: 30px 0; */}
  }
</style>

<div class="section-{{ section.id }}">
  <div class="container">
    <div class="flex items-center flex-wrap">
      {%- for block in section.blocks -%}
        <div class="item_offer">
          <div class="item_offer-img">
            <img src="{{ block.settings.offer_image | img_url: '300px' }}">
          </div>
          <div class="item_offer-details">
            <p class="item_offer-title">{{ block.settings.offer_title }}</p>
            <p class="item_offer-desc">{{ block.settings.offer_desc }}</p>
          </div>
        </div>
      {%- endfor-%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "About Section 4",
  "settings": [
    {
      "type": "html",
      "id": "heading_text",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "offers",
      "name": "Offers",
      "settings": [
        {
          "type": "image_picker",
          "id": "offer_image",
		  "label": "Offer Image"
        },
        {
          "type": "text",
          "id": "offer_title",
          "label": "Offer Title"
        },
        {
          "type": "text",
          "id": "offer_desc",
          "label": "Offer Description"
        }
      ]
    }
  ]
}
{% endschema %}