<style>
  .section-{{ section.id }} {
    background: url({{ section.settings.banner_image | img_url: 'master' }});
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    position: relative;
    height: 490px;
  }

  .section-{{ section.id }} .page__header {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    flex-wrap: wrap;
  }
  .section-{{ section.id }} .page__title { color: {{ section.settings.heading_color}}; font-size: 80px; text-transform: none;}
  .section-{{ section.id }} .page__sub-title { color: {{ section.settings.heading_color}}; font-size: 25px; }
</style>


<div class="section-{{ section.id }}">
  <div class="container">
    <header class="page__header page__header--centered sub-folder">
      <h1 class="page__title heading h1">{{ page.title }}</h1>
      <p class="page__sub-title">{{ section.settings.sub-heading-text }}</p>
    </header>
  </div>
</div>



{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "sub-heading-text",
      "label": "Sub Heading"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color"
    }
  ]
}
{% endschema %}